<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
          background-color:lightgray;
          border: black;
          border: width 2;
          color:black;
          padding: 6px 6px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 2px 1px;
          cursor: pointer;
        }
      </style>
</head>
<body>
    <utl>
        <h1>Todo List</h1>
        {% for todo in todos %}
            <li>{{ todo.todo_text }}&Tab;<a href="{{url_for('done_todo', todo_id=todo.id)}}" class="button">Remove</a></li></p>
        {% endfor %}
    </utl>
    <form method="POST" action="{{ url_for('add_todo') }}">
        {{ template_form.hidden_tag() }} 
        <p>
            {{ template_form.todo_textbox.label }}
            {{ template_form.todo_textbox() }}
        </p>
        <p>
            {{ template_form.add_todo() }}
        </p>
</body>
</html>